trigger:
  paths:
    include:
      - Dockerfile
      - azure-pipelines.yaml
  branches:
    include:
      - master
      - develop

variables:
  vmImage: "ubuntu-16.04"
  repository: "survivorbat/terraform-scratch"
  uid: "1000"
  gid: "1000"

stages:
  - stage: BuildAndPublish
    displayName: Build and publish Image
    jobs:
      - job: BuildAndPublish
        displayName: Build and Publish image
        strategy:
          matrix:
            v0.12.24:
              terraform_version: 0.12.24
        pool:
          vmImage: $(vmImage)
        steps:
          - task: Docker@2
            displayName: Build scratch image
            inputs:
              command: build
              repository: $(repository)
              arguments: --build-arg terraform_version=$(terraform_version) --build-arg uid=$(uid) --build-arg gid=$(gid)
              tags: |
                $(terraform_version)
          - task: Docker@2
            displayName: Build alpine image
            inputs:
              command: build
              repository: $(repository)
              arguments: --target=alpine --build-arg terraform_version=$(terraform_version) --build-arg uid=$(uid) --build-arg gid=$(gid)
              tags: |
                $(terraform_version)-alpine
          - task: Docker@2
            displayName: Publish scratch image
            condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
            inputs:
              containerRegistry: 'DockerHub'
              command: push
              repository: $(repository)
              tags: |
                $(terraform_version)
          - task: Docker@2
            displayName: Publish alpine image
            condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
            inputs:
              containerRegistry: 'DockerHub'
              command: push
              repository: $(repository)
              tags: |
                $(terraform_version)-alpine
