trigger:
  paths:
    include:
      - Dockerfile
      - azure-pipelines.yaml
  branches:
    include:
      - master
      - develop

variables:
  vmImage: "ubuntu-16.04"
  repository: "survivorbat/terraform-scratch"
  uid: "1000"
  gid: "1000"

stages:
  - stage: BuildAndPublish
    displayName: Build and publish Image
    jobs:
      - job: BuildAndPublish
        displayName: Build and Publish image
        strategy:
          matrix:
            v0.12.24:
              terraform_version: 0.12.24
            v0.12.23:
              terraform_version: 0.12.23
            v0.12.22:
              terraform_version: 0.12.22
            v0.12.21:
              terraform_version: 0.12.21
            v0.12.20:
              terraform_version: 0.12.20
            v0.12.19:
              terraform_version: 0.12.19
            v0.12.18:
              terraform_version: 0.12.18
            v0.12.17:
              terraform_version: 0.12.17
            v0.12.16:
              terraform_version: 0.12.16
            v0.12.15:
              terraform_version: 0.12.15
            v0.12.14:
              terraform_version: 0.12.14
            v0.12.13:
              terraform_version: 0.12.13
            v0.12.12:
              terraform_version: 0.12.12
            v0.12.11:
              terraform_version: 0.12.11
            v0.12.10:
              terraform_version: 0.12.10
            v0.12.9:
              terraform_version: 0.12.9
            v0.12.8:
              terraform_version: 0.12.8
            v0.12.7:
              terraform_version: 0.12.7
            v0.12.6:
              terraform_version: 0.12.6
        pool:
          vmImage: $(vmImage)
        steps:
          - task: Docker@2
            displayName: Build scratch image
            inputs:
              command: build
              repository: $(repository)
              arguments: --build-arg terraform_version=$(terraform_version) --build-arg uid=$(uid) --build-arg gid=$(gid)
              tags: |
                $(terraform_version)
          - task: Docker@2
            displayName: Build alpine image
            inputs:
              command: build
              repository: $(repository)
              arguments: --target=alpine --build-arg terraform_version=$(terraform_version) --build-arg uid=$(uid) --build-arg gid=$(gid)
              tags: |
                $(terraform_version)-alpine
          - task: Docker@2
            displayName: Publish scratch image
            condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
            inputs:
              containerRegistry: 'DockerHub'
              command: push
              repository: $(repository)
              tags: |
                $(terraform_version)
          - task: Docker@2
            displayName: Publish alpine image
            condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
            inputs:
              containerRegistry: 'DockerHub'
              command: push
              repository: $(repository)
              tags: |
                $(terraform_version)-alpine
